<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rd.slcs.co.jp.showtabi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_showtabi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_showtabi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PlanAddActivity" />
        <activity android:name=".activity.PlanListActivity" />
        <activity android:name=".activity.PlanEditActivity" />
        <activity android:name=".activity.EventListActivity" />
        <activity android:name=".activity.EventAddActivity" />
        <activity android:name=".activity.EventReferenceActivity" />
        <activity android:name=".activity.EventEditActivity"></activity>
    </application>

</manifest>